.coral {
	background:#FF7F50;
}

.olive {
	background:#808000;
}

.lime {
	background:#00FF00;
}

.yellow {
	background:#FFD700;
}

#history {
	font-size:25px;
}

#result {
	font-size: 25px;
}
